<header class="bg-red-600 text-white p-5 flex items-center justify-between">
  <div class="flex items-center space-x-1">
    <img class="w-12 h-auto" src="../../../assets/images/logo.png" alt="Imagen Logo">
    <a routerLink="/"><img class="w-52 h-auto" src="../../../assets/images/logoAngular.png" alt="Imagen Logo"></a>
  </div>

  <div class="flex items-center space-x-4">
    @if(autenticado){
    <div class="flex flex-col relative z-10">
      <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation"
        class="rounded-full p-4 hover:bg-gray-300 border-gray-300 bg-gray-50 focus:ring-red-300 focus:border-red-300"
        type="button">
        <svg class="text-black w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-width="2"
            d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
      </button>
      <div id="dropdownInformation"
        class="absolute hidden mt-1 top-full z-20 block bg-white divide-y divide-gray-100 rounded-lg shadow w-44 -left-4 md:-left-12">
        <div class=" px-4 py-3 text-sm text-white bg-red-600">
          <div>{{usuario.nombre}} {{usuario.apellidos}}</div>
          <div class="font-medium truncate"></div>
        </div>
        <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownInformationButton">
          <li>
            <a href="/mispedidos" class="block px-4 py-2 hover:bg-red-100">Mis Pedidos</a>
          </li>
          <li>
            <a href="/editarPerfil" class="block px-4 py-2 hover:bg-red-100">Editar Perfil</a>
          </li>
          @if(usuario.rol === "a"){
          <li>
            <a href="/administracion" class="block px-4 py-2 hover:bg-red-100">Administración</a>
          </li>
          }
        </ul>
        <div class="py-2 border-top-0 border-gray-700">
          <a (click)="logout()" href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-red-100">Cerrar
            Sesión</a>
        </div>
      </div>
    </div>

    <a href="/carrito">
      <div
        class="relative inline-flex items-center rounded-full p-4 hover:bg-gray-300 border-gray-300 bg-gray-50 focus:ring-red-300 focus:border-red-300">
        <svg class="text-black w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="24"
          height="24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312" />
        </svg>
        <div
          class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
          {{carrito.length}}</div>
      </div>
    </a>
    }
    @else{
    <div class="flex flex-col">
      <a href="/login">Inicia Sesión</a>
    </div>

    <div class="flex flex-col">
      <a class="mr-4" href="/registro">Regístrate</a>
    </div>
    }
  </div>
</header>
