<main class="min-h-screen flex items-center justify-center">

  <div class="bg-white p-8 rounded shadow-md w-full max-w-md">

    <h2 class="text-2xl font-bold text-center mb-4">Iniciar Sesión</h2>

    <form (ngSubmit)="login()">

      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
        <input type="email" [(ngModel)]="user.email" id="email" name="email" class="mt-1 p-2 w-full border rounded-md"
          required placeholder="Introduzca su email">
      </div>

      <div class="bg-red-100 rounded mb-2 pl-2">
        <span class="text-red-700">{{mensajeCorreo}}</span>
      </div>

      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
        <input type="password" [(ngModel)]="user.password" id="password" name="password"
          class="mt-1 p-2 w-full border rounded-md" required placeholder="Introduzca su contraseña">
      </div>

      <div class="bg-red-100 rounded pl-2 mb-3">
        <span class="text-red-700">{{mensajeUserValido}}</span>
        <span class="text-red-700">{{mensajeObligatorios}}</span>
      </div>

      <button type="submit"
        class="bg-red-600 text-white p-2 w-full rounded-md hover:bg-red-800 focus:outline-none focus:ring focus:border-blue-300">Iniciar
        Sesión</button>

    </form>

    <!--<div class="mt-4 text-center">
      <a href="#" class="text-blue-500 hover:underline">¿Olvidaste tu contraseña?</a>
    </div>-->

    <div class="mt-4 text-center">
      ¿No tienes cuenta? Regístrate <a href="/registro" class="text-blue-500 hover:underline">aquí</a>
    </div>

  </div>

</main>
